.brench h3 {
    text-transform: uppercase;
    font-weight: bold;
 }
 
 .brench h4 {
    font-weight: bold;
    text-transform: capitalize;
 }
 
 .brench p {
    line-height: 40px;
 }
 
 .brench .content {
    display: none;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 300px;
 }
 
 .brench .content h1 {
    color: #fff;
    font-weight: bold;
 }
 
 .brench .content p {
    line-height: 30px;
 
    color: #fff;
 }
 
 @media(max-width:375px) {
    .brench .content h1 {
       font-size: 20px !important;
    }
 
    .brench .content p {
       font-size: 13px !important;
       line-height: 10px !important;
    }
 
    .brench .opening h3 {
       padding-top: 20px !important;
       font-size: 15px !important;
    }
 
    .brench .opening h5 {
       font-size: 15px !important;
    }
 
    .brench .opening p {
       font-size: 15px !important;
       line-height: 30px;
 
    }
 
 }
 
 @media(max-width:991px) {
    .brench .opening h3 {
       font-size: 20px !important;
    }
 
    .brench .opening h5 {
       font-size: 15px !important;
    }
 
    .brench .opening p {
       font-size: 15px;
       line-height: 40px;
 
    }
 
    .brench .content {
       font-size: 15px !important;
    }
 
    .brench .content p {
       font-size: 12px !important;
       line-height: 25px !important;
    }
 }
 
 .brench .image_hover {
    position: relative;
 }
 
 .brench .image_hover:hover .content {
    display: block;
 }
 
 
 
 
 /*------about section---*/
 
 .boxs-container {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 80px;
 }
 
 .boxs-container .box {
    height: 400px;
    width: 280px;
    border: 3px solid var(--main-color1);
    box-shadow: 0 5px 5px #000;
    overflow: hidden;
    margin: 20px 15px;
    border-radius: 20px;
 }
 
 .boxs-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale();
    transition: all 0.2s linear;
 }
 
 .boxs-container .box:hover img {
    filter: grayscale(0%);
    transform: scale(1.1);
    transition: all 0.2s linear;
 }
 
 .boxs-container .box .info {
    text-align: center;
    background: #fff;
    position: relative;
    bottom: 40px;
    border-radius: 10px 10px 0 0;
    transition: all 0.2s linear;
 }
 
 .boxs-container .box:hover .info {
    bottom: 128px;
    transition: all 0.2s linear;
 }
 
 .boxs-container .box .info .title {
    padding: 10px 0;
    font-size: 20px;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
 }
 
 .boxs-container .box .info .title .post {
    font-size: 15px;
    color: #999;
 
 }
 
 .boxs-container .box .info .share {
    margin-top: 10px;
    border-top: 1px solid #4444;
 }
 
 .boxs-container .box .info .share a {
    font-size: 20px;
    margin: 20px 10px;
    text-decoration: none;
    color: #333;
 }
 
 .boxs-container .box .info .share a:hover {
    color: #999;
 }
 
 
 
 
 .boxs-containers {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 80px;
 }
 
 .boxs-containers .box {
    height: 400px;
    width: 280px;
    border: 3px solid var(--main-color1);
    box-shadow: 0 5px 5px #000;
    overflow: hidden;
    margin: 20px 15px;
    border-radius: 20px;
 }
 